.box {
    width: 100px;
    height: 200px;
    background-color: antiquewhite;
    transition: width 2s ease, background-color 2s ease;
}

.box:hover {
    width: 800px;
    background-color: blue;
    transition: width 1s ease, background-color 0.5s ease;
}

.children {
    background-color: red;
    height: 30px;
    width: 80px;
    transition: width 3s ease;
}

.box:hover .children {
    width: 250px;
}

.box2 {
    width: 100px;
    height: 200px;
    background-color: antiquewhite;
    animation: box-animation 1s ease forwards;
}

@keyframes box-animation {
    0% {
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}